body {
  font-family: sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}
h2 {
  font-size: 1.6 em;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.2 em;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: rgb(17, 182, 17);
  cursor: pointer;
}
a:hover{
  color: #fff;
  text-decoration: none;
}

.container > header {
  margin-bottom: 40px;
}

.navbar {
  margin-bottom: 60px;
}
.navbar-brand:hover {
  transform: scale(1.1);
  transition: transform ease 0.4s;
}

.nav-item:hover{
  color:#000;
}

.table td img {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.table td {
  padding: 0px;
}

.table p {
  line-height: 100px;
  margin-bottom: 0;
  margin-left: 20px;
}

.table .btn {
  float: right;
  margin: 30px 10px;
}

.food-detail-img{
  width: 60%;
}

.nav-tabs {
  margin-top: 40px;
}

.tab-content {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: 0;
  margin-bottom: 40px;
}
